<div class="row">
    <div class="col">
        <input type="text" class="form-control mb-2" placeholder="Nombre del restaurante" [(ngModel)]="nombre" (keyup.enter)="agregar()" name="nombre" #nombreForm>
    </div>
    <div class="col">
        <input type="text" class="form-control mb-2" placeholder="Ciudad" [(ngModel)]="ciudad" (keyup.enter)="agregar()" name="ciudad" #nombreCiudad>
    </div>
    <div class="col">
        <button (click)="OnAgregar(nombreForm.value,nombreCiudad.value)" class="btn btn-info" type="submit">agregar</button>
    </div>

</div>